@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }
}

html {
  height: 100%;
  min-height: 100vh;
  background-color: #f8fafc !important;
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #f8fafc !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#__next {
  min-height: 100vh;
  background-color: #f8fafc !important;
}

* {
  box-sizing: border-box;
}